# 发布到npm的配置
@jiajiaClass:registry=http://123.249.90.239:4873/

# 发布时包含的文件
files=android/src,android/build.gradle,android/gradle.properties,apple,ios,macos,windows,lib,src,index.js,index.d.ts,react-native-webview.podspec,react-native.config.js 